GOOGLE_API_KEY=
GROQ_API_KEY=
NEXTAUTH_SECRET="my_super_secret_key_change_this_1234567890"
SALT="my_super_secret_salt_change_this_1234567890"

LANGFUSE_INIT_USER_EMAIL="admin@example.com"
LANGFUSE_INIT_USER_NAME="Admin"
LANGFUSE_INIT_USER_PASSWORD="adminpassword"
LANGFUSE_INIT_ORG_ID="org_1234567890"
LANGFUSE_INIT_ORG_NAME="Local Org"
LANGFUSE_INIT_PROJECT_ID="proj_1234567890"
LANGFUSE_INIT_PROJECT_NAME="Dungeon Master"
LANGFUSE_INIT_PROJECT_PUBLIC_KEY="pk-lf-11111111-1111-1111-1111-111111111111"
LANGFUSE_INIT_PROJECT_SECRET_KEY="sk-lf-22222222-2222-2222-2222-222222222222"

LANGFUSE_PUBLIC_KEY="pk-lf-11111111-1111-1111-1111-111111111111"
LANGFUSE_SECRET_KEY="sk-lf-22222222-2222-2222-2222-222222222222"